.tipcal {
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    
}
.logo {
    display: flex;
    justify-content: center;
    
}
.logo img {
    width: 86.664px;
    height: 53.136px;
    margin-bottom: 87.864px;
}
.box {
    width: 379px;
    height: 388px;
    flex-shrink: 0;
    margin-top: 45px;
}
.billInput{
    display: flex;
    flex-direction: column;
    position: relative;
}
.billInput .bill{
    color: #5E7A7D;
    font-size: 16px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 .input0 {
    width: 379px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    border: 1px solid #F3F9FA;
    margin-bottom: 40px;
    text-align: right;
    color: #00474B;
    text-align: right;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 379px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    border: 1px solid #F3F9FA;
    margin-bottom: 40px;
    text-align: right;
    color: #00474B;
    text-align: right;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 10px;
}
 .input0:hover,.custom:hover{
    cursor: pointer;
    border: 2px solid #26C2AE;
    color: #00474B;
}
.input1{
    width: 379px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    margin-bottom: 40px;
    text-align: right;
    color: #00474B;
    text-align: right;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 2px solid #E17052;
}  
.input1:focus:active{
    border: 4px solid #E17052;
}
.person0 {
    color: #E17457;
    text-align: right;
    font-size: 16px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
}
.person1 {
    display: none;
}

.select {
    display: flex;
    width: 379px;
    height: 152px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-shrink: 0;
}
.custom {
    width: 110px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    border: #F3F9FA;
    text-align: right;
    color: #00474B;
    text-align: right;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 106px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    border: 1px solid #F3F9FA;
    margin-bottom: 40px;
    text-align: right;
    color: #00474B;
    text-align: right;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 10px;
}
.custom::placeholder {
    color: #547878;
    text-align: center;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: o;
}
input[type=number] {
    -moz-appearance: textfield;
}
.tip-btn{
    width: 379px;
    height: 112px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 117px 117px 117px;
    gap: 14px;
}
.result {
    width: 333px;
    height: 71px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   
.result1{
    margin: 40px auto;
}
.result2{
    margin: 25px auto;
}

.amt {
    color: #FFF;
    font-size: 16px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.amt span{
    color: #7F9D9F;
    font-size: 13px;
}
.total2 {
    margin-left: 28px;
}
.total {
    color: #26C2AE;
    text-align: right;
    font-size: 48px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}
.resetBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.resetBtn .reset{
    width: 333px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0D686D;
    border: #0D686D;
    color: #00474B;
    text-align: center;
    font-size: 20px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
}
.resetBtn .reset:hover {
    background: #9FE8DF;
    cursor: pointer;
    color: #00474B;
}
.dollar,.shape {
    width: 9.84px;
    height: 15.456px;
    flex-shrink: 0;
    position: absolute;
    top:40px;
    left: 15px;
}

@media only screen and (max-width:780px){
    .input0 {
        width: 299px;
        height: 48px;
        margin-bottom: 0px;
        align-self: center;
    }
    .input1 {
        width: 299px;
        height: 48px;
        margin-bottom: 0px;
        align-self: center;
    }
    .person0 {
        margin-right: 9px;
    }
    .billInput .bill{
        margin-left: 3px;
    }
    .select {
        width: 311px;
        height: 216px;
        margin: auto auto 53px auto;
    } 
    .tip-btn{
        width: 311px;
        grid-template-columns: 146.631px 148.631px ;
        gap: 18px;
    } 
    .custom {
        width: 133px;
    }
    .box {
        width: 325px;
    }
    .total {
        font-size: 32px;
    }
   
    .result {
        width: 281px;
        height: 48px;
    }
    .result2 {
        margin: 72px auto;
    }
    .resetBtn {
        margin-top: 107px;
    }
    .resetBtn .reset {
        width: 281px;
        margin: 45px auto 30px auto;
    }
}

@media only screen and (max-width:430px) {
    .box{
        margin: auto;
    }
    .result1 {
        margin: 20px auto;
    }
    .result2{
        margin: 20px auto;
    }
    .resetBtn .reset{
        margin: -67px;
    }
}
@media only screen and (max-width:330px) {
    .box{
        width: 310px;
    }
    .billInput input {
       width: 305px;
    }
    .billInput .bill{
        margin-left: 0px;
    }
    .result2{
        margin: 20px auto;
    }
    .resetBtn .reset{
        margin: -67px;
    }
}