body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #C5E4E7;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:430px) {
  body{
    height:933px;
  }
}